
<section class="customer-reviews">
  <div class="container customer-reviews-list">
    <!-- <h2 class="visually-hidden">Customer-reviews</h2> -->
    <div class="customer-reviews-item"> 
      <img src="./images/customer-reviews/testimonials1.png" class="customer-reviews-img"  alt="девушка"> 
      <div class="customer-reviews-background">
      <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div>
      <span class="customer-reviews-dots"></span>
        <p class="customer-reviews-name">Emily, Los Angeles</p>
    </div>
    <div class="customer-reviews-item">
      <img src="./images/customer-reviews/testimonials2.png" class="customer-reviews-img" alt="девушка"> 
      <div class="customer-reviews-background">
      <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div>
      <span class="customer-reviews-dots"></span>
        <p class="customer-reviews-name">Emily, Los Angeles</p>
    </div>
    <div class="customer-reviews-item">
      <img src="./images/customer-reviews/testimonials3.png" class="customer-reviews-img" alt="девушка"> 
      <div class="customer-reviews-background">
      <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div>
      <span class="customer-reviews-dots"></span>
        <p class="customer-reviews-name">Emily, Los Angeles</p>
    </div>
  </div>
</section>