<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">HIDDEN HEADER</h2>
    <ul class="masonry">
      <li class="masonry__item">
        <a href="" class="masonry__item__link"
          ><img
            srcset="
              ./images/gallery/mobile/test1@1x-320.jpg    320w,
              ./images/gallery/tablet/test1@1x-768.jpg    768w,
              ./images/gallery/desktop/test1@1x-1200.jpg 1280w
            "
            src="./images/gallery/mobile/test1@1x-320.jpg"
            alt="Морожка"
            sizes="100vw"
            class="masonry__item__img"
          />
        </a>
      </li>
      <li class="masonry__item">
        <div class="masonry__item__div">
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test2@1x-320.jpg    320w,
                ./images/gallery/tablet/test2@1x-768.jpg    768w,
                ./images/gallery/desktop/test2@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test2@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test3@1x-320.jpg    320w,
                ./images/gallery/tablet/test3@1x-768.jpg    768w,
                ./images/gallery/desktop/test3@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test3@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
        </div>
      </li>
      <li class="masonry__item">
        <div class="masonry__item__div">
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test4@1x-320.jpg    320w,
                ./images/gallery/tablet/test4@1x-768.jpg    768w,
                ./images/gallery/desktop/test4@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test4@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img big__picture"
            />
          </a>
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test5@1x-320.jpg    320w,
                ./images/gallery/tablet/test5@1x-768.jpg    768w,
                ./images/gallery/desktop/test5@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test5@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
        </div>
      </li>
      <li class="masonry__item bottom__item">
        <div class="masonry__item__div">
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test6@1x-320.jpg    320w,
                ./images/gallery/tablet/test6@1x-768.jpg    768w,
                ./images/gallery/desktop/test6@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test6@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test7@1x-320.jpg    320w,
                ./images/gallery/tablet/test7@1x-768.jpg    768w,
                ./images/gallery/desktop/test7@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test7@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
        </div>
      </li>
      <li class="masonry__item">
        <div class="masonry__item__div">
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test8@1x-320.jpg    320w,
                ./images/gallery/tablet/test8@1x-768.jpg    768w,
                ./images/gallery/desktop/test8@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test8@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
          <a href="" class="masonry__item__link">
            <img
              srcset="
                ./images/gallery/mobile/test9@1x-320.jpg    320w,
                ./images/gallery/tablet/test9@1x-768.jpg    768w,
                ./images/gallery/desktop/test9@1x-1200.jpg 1280w
              "
              src="./images/gallery/mobile/test9@1x-320.jpg"
              alt="Морожка"
              sizes="100vw"
              class="masonry__item__img"
            />
          </a>
          <li class="masonry__item">
            <a href="" class="masonry__item__link"
              ><img
                srcset="
                  ./images/gallery/mobile/test10@1x-320.jpg    320w,
                  ./images/gallery/tablet/test10@1x-768.jpg    768w,
                  ./images/gallery/desktop/test10@1x-1200.jpg 1280w
                "
                src="./images/gallery/mobile/test10@1x-320.jpg"
                alt="Морожка"
                sizes="100vw"
                class="masonry__item__img"
              />
            </a>
          </li>
        </div>
      </li>
    </ul>
  </div>
</section>
