<header class="page-header">
    <div class="container">
        <div class="header-cotainer">
            <div class="logo">
                <a href=""><img src="./images/hero-header/logo.png" width="200" height="50" alt="Лого"></a>
            </div>
            <div class="burger-menu">
                <a href="" class="burger-menu_button "><span class="burger-menu_lines"></span></a>
                <button class="secondary-button button_buy hide">Buy now
                    <svg class="secondary-button-svg" width=8 height=8>
                        <use href="./images/sprite.svg#icon-arrow-more"></use>
                    </svg>
                </button>
                <nav class="burger-menu_nav">
                    <button class="secondary-button button_buy hide2">Buy now
                        <svg class="secondary-button-svg" width=8 height=8>
                            <use href="./images/sprite.svg#icon-arrow-more" ></use>
                        </svg>
                    </button>
                    <a href="" class="burger-menu_link">Home</a>
                    <a href="" class="burger-menu_link">About us</a>
                    <a href="" class="burger-menu_link">How it’s made?</a>
                    <a href="" class="burger-menu_link">Our products</a>
                    <a href="" class="burger-menu_link">Contact</a>
                </nav>
                <div class="burger-menu_overlay"></div>
            </div>
            <div class="header-partners">
                <span class="cafe">16
                    <span class="our_partners">cafes</span>
                </span>
                <span class="track">23
                    <span class="our_partners">food trucks</span>
                </span>
            </div>
            <div class="header-slogan">
                <h1 class="header-slogan_text">ice cream made with <span class="header-slogan_akcent">passion</span></h1>
                <div class="header-slogan-btncontainer">
                    <button class="main-button slogan-button">Products</button>
                    <button class="secondary-button slogan-button">How it’s made?</button>
                </div>
                <div class="header-slogan-milk">
                    <picture>
                        <source
                            srcset="./images/hero-header/desktop/jug@1x-1200.png 1x, ./images/hero-header/desktop/jug@2x-1200.png 2x"
                            media="(min-width:1280px)">
                        <source
                            srcset="./images/hero-header/tablet/jug@1x-768.png 1x, ./images/hero-header/tablet/jug@2x-768.png 2x"
                            media="(min-width:768px)">
                        <img src="./images/hero-header/tablet/jug@1x-768.png" alt="Изображение стакана с молоком"
                            aria-label="Изображение стакана с молоком">
                    </picture>
                    <div class="header-slogan-milk_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        <span id="add">...</span><span id="muchMore">lacinia  odio. Mauris rhoncus orci
                                in imperdiet placerat. 
                        </span></p>
                        <button inclick="readMore()" class="pointer-button " id="myBtn">
                            <svg class="pointer-button-svg">
                                <use href="./images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-imgeclips"></div>
            <div class="header-imggirl">
                <picture>
                    <source srcset="./images/hero-header/desktop/girl@1x-1200.png 1x, ./images/hero-header/desktop/girl@2x-1200.png 2x"
                        media="(min-width:1280px)">
                    <source srcset="./images/hero-header/tablet/girl@1x-768.png 1x, ./images/hero-header/tablet/girl@2x-768.png 2x"
                        media="(min-width:768px)">
                    <img src="./images/hero-header/tablet/girl@1x-768.png" alt="Изображение девушка с мороженым"
                        aria-label="Изображение девушка с мороженым">
                </picture>
            </div>
            <div class="header-imgiceream">
                <picture>
                    <source srcset="./images/hero-header/desktop/icecrem@1x-1200.png 1x, ./images/hero-header/desktop/icecrem@2x-1200.png 2x"
                        media="(min-width:1280px)">
                    <source srcset="./images/hero-header/tablet/icecrem@1x-768.png 1x, ./images/hero-header/tablet/icecrem@2x-768.png 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/hero-header/mobile/icecrem@1x-320.png 1x, ./images/hero-header/mobile/icecrem@2x-320.png 2x"
                        media="(min-width:320px)">
                    <img src="./images/hero-header/mobile/icecrem@1x-320.png" alt="Изображение рожка мороженного"
                        aria-label="Изображение рожка мороженного">
                </picture>
               
            </div>
        </div>
    </div>
</header>