<section class="products">
    <div class="container"> 
        
        <div class="products-title">
        <span class="products-natural">100% Natural</span>
            <h2 class="products-label">Products</h2>

        <ul class="products-list">
            <li class="products-item image-ice-cream">
                <h3 class="products-name">Ice Cream</h3>
                    <span class="products-dots"></span>
                        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                            <button type="button" class="pointer-button">
                                <svg>
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
            </li>
            <li class="products-item image-ice-coffee">
                <h3 class="products-name">Ice Coffee</h3>
                    <span class="products-dots"></span>
                        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                            <button type="button" class="pointer-button">
                                <svg>
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
            </li>
            <li class="products-item image-milkshake">
                <h3 class="products-name">Milkshake</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                            <button type="button" class="pointer-button">
                                <svg>
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
            </li>
        </ul> 
    </div>

    <!-- <section class="modal-bg">
        <div class="modal">
            <img src="./images/hero-header/desktop/icecrem@2x-1200.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam aliquid quas quisquam ex vitae. Sit laboriosam molestiae dicta voluptate repellendus! Enim quidem modi blanditiis quibusdam ea atque facilis et! Reprehenderit.</p>
            <svg>
                <use href="./images/advantages/icon1.svg"></use>
            </svg>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quod beatae ducimus sint exercitationem, expedita eveniet repellat perferendis dicta, rem et nobis? Qui sed omnis quae numquam molestiae harum cumque.</p>
        </div>
    </section> -->
</section>