<section class="products">
    <div class="container">

        <div class="products-title">
            <span class="products-natural">100% Natural</span>
            <h2 class="products-label">Products</h2>

            <ul class="products-list">
                <li class="products-item image-ice-cream">
                    <h3 class="products-name">Ice Cream</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    <a href="#products-modal-bg">
                        <button type="button" class="pointer-button">
                            <svg class="pointer-button-svg">
                                <use href="./images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="products-item image-ice-coffee">
                    <h3 class="products-name">Ice Coffee</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    <a href="#products-modal-bg-second">
                        <button type="button" class="pointer-button">
                            <svg class="pointer-button-svg">
                                <use href="./images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="products-item image-milkshake">
                    <h3 class="products-name">Milkshake</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    <a href="">
                        <button type="button" class="pointer-button">
                            <svg class="pointer-button-svg">
                                <use href="./images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>
        </div>


        <section id="products-modal-bg" class="products-modal-bg">
            <div class="products-modal-window">
                <a href="#" class="modal-closing">
                    <svg width="40" height="40">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </a>
                <div class="products-modal-circle-first"></div>
                <div class="products-modal-circle-second"></div>
                <div class="products-modal-one">
                    <p class="products-modal-title">Your favorite iconic Rainbow ice cream is now gluten-free! </p>
                    <p class="products-modal-text">Browse gluten-free ice creams like Chocolate Dream and Cherry Delight to sweeten up your gluten-free diet with celiac safe desserts. </p>
                    <p class="products-modal-textBottom">This selection of our ice cream is gluten-free and perfect for dessert lovers looking for all those classic ICECREAM's chunks and swirls, minus the gluten.</p>
                </div>
                <div class="products-modal-two">

                    <p class="products-modal-title">ICECREAM's Cold Brew Coffee with Milk</p>
                    <p class="products-modal-text"> Handcrafted in small batches daily, slow-steeped in cool water for 20 hours,</p>
                    <p class="products-modal-textBottom">Without touching heat and finished with a splash of milk—ICECREAM's Cold Brew is made from our custom blend of beans grown to steep long and cold for a super-smooth flavor.</p>

                </div>
                <div class="products-modal-three">
                    <p class="products-modal-title">Double Chocolaty Chip Mocha flavored Milkshake</p>
                    <p class="products-modal-text"> Rich mocha-flavored sauce meets up with chocolaty chips, milk and ice for a blender bash.</p>
                    <p class="products-modal-textBottom">Top it off with sweetened whipped cream and mocha drizzle for a real party in your mouth.</p>
                </div>
            </div>
        </section>
</section>