<section class="products" id="product">
    <div class="container">

        <div class="products-title">
            <span class="products-natural">100% Natural</span>
            <h2 class="products-label">Products</h2>

            <ul class="products-list">
                <li class="products-item image-ice-cream">
                    <h3 class="products-name">Ice Cream</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et </p>
                    <button type="button" class="pointer-button">
                        <svg class="pointer-button-svg">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="products-item image-ice-coffee">
                    <h3 class="products-name">Ice Coffee</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et </p>
                    <button type="button" class="pointer-button">
                        <svg class="pointer-button-svg">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="products-item image-milkshake">
                    <h3 class="products-name">Milkshake</h3>
                    <span class="products-dots"></span>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et </p>
                    <button type="button" class="pointer-button">
                        <svg class="pointer-button-svg">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <!-- <section id="products-modal-bg" class="products-modal-bg">
        <div class="products-modal-window">
            <div class="modal-circle-first"></div>
                <div class="modal-circle-second"></div>
            <div class="modal-content">
                <p class="modal-text-one">Your favorite iconic Rainbow ice cream is now gluten-free! </p>
                    <svg class="modal-svg" width="33" height="50">
                        <use href="./images/advantages/icon1.svg"></use>
                    </svg>
                    <div class="modal-text-second">
                <p class="modal-text-two">Browse gluten-free ice creams like Chocolate Dream and Cherry Delight to sweeten up your gluten-free diet with celiac safe desserts. </p>
            </div>
            <div class="modal-text-third">
                <p class="modal-text-three">This selection of our ice cream is gluten-free and perfect for dessert lovers looking for all those classic ICECREAM's chunks and swirls, minus the gluten.</p>
                <a href="#" class="modal-closing">
                    <svg width="40" height="40">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </a>
            </div>
            </div>
        </div>
    </section>
    <section id="products-modal-bg" class="products-modal-bg">
        <div class="products-modal-window">
            <div class="modal-circle-first"></div>
                <div class="modal-circle-second"></div>
            <div class="modal-content">
                <p class="modal-text-one">Your favorite iconic Rainbow ice cream is now gluten-free! </p>
                    <!-- <svg class="modal-svg" width="33" height="50">
                        <use href="./images/advantages/icon1.svg"></use>
                    </svg> -->
        <!-- <div class="modal-text-second">
                <p class="modal-text-two">Browse gluten-free ice creams like Chocolate Dream and Cherry Delight to sweeten up your gluten-free diet with celiac safe desserts. </p>
            </div>
            <div class="modal-text-third">
                <p class="modal-text-three">This selection of our ice cream is gluten-free and perfect for dessert lovers looking for all those classic ICECREAM's chunks and swirls, minus the gluten.</p>
                <a href="#" class="modal-closing">
                    <svg width="40" height="40">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </a>
            </div>
            </div>
        </div>
    </section> -->
</section>