.contacts {
  position: relative;
  padding: 86px 0 113px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  background-image: linear-gradient(
    to bottom,
    #ffffff 12%,
    $sections-background 12%
  );
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding: 119px 0 165px;
    background-image: linear-gradient(
      to bottom,
      #ffffff 25%,
      $sections-background 25%
    );
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    padding-bottom: 132px;
    background-image: url('../images/contacts/desktop/contacts-background@1x-1280.png'),
      linear-gradient(to bottom, #ffffff 25%, $sections-background 25%);
    background-repeat: no-repeat;
    background-position: 0 44%;
  }

  &-wrap {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    @media screen and (min-width: 768px) {
      padding-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      padding-bottom: 32px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 81px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 86px;
    }
  }

  &-item {
    margin-bottom: 20px;
    padding: 43px 20px 43px 21px;
    max-width: 220px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: #ffffff;
    @media screen and (min-width: 768px) {
      padding: 50px 31px 50px 32px;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @media screen and (min-width: 1280px) {
      max-width: 330px;
      padding: 51px 43px 62px 53px;
    }
  }

  &-name {
    margin-bottom: 25px;
    padding: 2px 15px;
    display: inline-block;
    color: #ffffff;
    background: #f0d1a5;
    border-radius: 4px;
    &.two {
      background-color: #c2e297;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
  &-city {
    margin-bottom: 10px;
    color: #000000;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 14px;
    }
  }

  &-text {
    line-height: 1.5;
    color: $simple-text-color;
  }

  &-time-wrap {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
    @media screen and (min-width: 768px) {
      padding: 30px 0;
    }
    @media screen and (min-width: 768px) {
      padding: 32px 0;
    }
  }

  &-day {
    color: #000000;
  }

  &-time {
    color: $label-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-link-wrap {
    padding-top: 25px;
    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 32px;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    line-height: 1.5;
    color: $simple-text-color;
  }

  &-button {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }
  }
}

.main-button.contacts-btn {
  padding: 9px 17px;
  width: 161px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 191px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.secondary-button.contacts-btn {
  min-width: 161px;
  padding: 9px 32px;
  @media screen and (min-width: 768px) {
    margin-left: 15px;
    width: 175px;
    padding-left: 37px;
    padding-right: 37px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

.contacts-modal {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  color: #ffffff;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 528px;
  }
  min-height: 581px;
  background: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: inherit;
    box-sizing: border-box;
    background-color: #e17992;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-svg {
    stroke: #ffffff;
  }

  &-title {
    font-style: normal;
    font-size: 20px;
    line-height: 1.83;
    margin-bottom: 10px;
    text-align: center;
    color: $title-color;
  }
}

.contacts-form {
  &-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    textarea {
      width: 55%;
      padding: 5px;
      color: $label-color;
    }
  }

  &-input {
    padding: 5px;
    width: 55%;
    color: $label-color;
  }

  &-img {
    margin-right: auto;
    margin-left: auto;
  }
}
textarea {
  &::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $title-color;
  }
}

.contacts-submit-wrap {
  display: flex;
  justify-content: center;
}

.main-button {
  &.contacts-modal-btn {
    justify-content: center;
  }
}
