    // -----------------------MODAL  WINDOW   ICE  CREAM------------------------------
    .hidden {
        display: none !important;
    }
    
    .products-modal-bg {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #FFA5BA, transparent);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease 0s;
    }
    
    .products-modal-window {
    
        position: relative;
        background-color: rgb(250, 236, 236);
        width: 70%;
        height: 70%;
        
        border-radius: 20px;
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 40px;
        padding-right: 40px;
        overflow:hidden;

        @media screen and (min-width:768px) {
            max-width:600px;
            max-height:600px;
        }

        @media screen and (min-width:1280px) {
            max-width:900px;
            max-height:900px;
        }
    }
    
    
    .modal-closing {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: 500ms;
        cursor: pointer;
        &:hover{
            background-color: white;
            transform:scale(1.1);
        }
        &:hover svg{
           stroke:$title-color;
           
        }
    }

    
    .products-modal-one {
        &::before {
            content: "";
            position: absolute;
            width: 44%;
            height: 93%;
            background-size: contain;
            display: block;
            top: 14%;
            left: 0%;
            background-image: url("../images/hero-header/desktop/icecrem@2x-1200.png");
            background-repeat: no-repeat;
            opacity: 0.7;
            transform: rotate(20deg);
            }
            &:hover::before {
                content: "";
                opacity: 1;
                transition: 500ms linear;
            }
    }
    
    
    .products-modal-circle-first,
    .products-modal-circle-second {
        background: #f16a8a98;
        filter: blur(3px);
        position: absolute;
        border-radius: 50%;
        
    }
    
    .products-modal-circle-first {
        height: 40%;
        width: 40%;
        bottom: -6%;
        right: 7%;
        opacity:0.6;
    }
    
    .products-modal-circle-second {
        height: 30%;
        width: 30%;
        bottom: -10%;
        right: -3%;
        opacity:0.7;
    }
    
    .products-modal-title {
        font-family: $headers-font;
        font-weight: normal;
        font-size: 2.5vh;
        line-height: 1.2;
        color: #D41443;
        text-shadow: 2px 2px black;
        text-align: end;
        letter-spacing: 0.04em;
        padding-left:40px;

        @media screen and (min-width:768px) {
        font-size: 25px;
        }
        @media screen and (min-width:768px) {
        font-size: 30px;
        
        }

    }
    
    .products-modal-text {
        display: block;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 43%;
        position: absolute;
        top: 25%;
        right: 4%;
        border-radius: 10px;
        background: #d12ba83d;
        padding: 5%;
        font-family: $main-font;
        font-weight: 700;
        font-size: 1.6vh;
        line-height: 1.1;
        color: white;
        text-shadow: 2px 2px black;

        @media screen and (min-width:768px) {
        font-size: 20px;
        }
    }
    
    .products-modal-textBottom {
        display: block;
        display: flex;
        justify-content: right;
        text-align: right;
        width: 50%;
        height: 90%;
        position: absolute;
        bottom: -55%;
        right: 4%;
        font-family: $main-font;
        font-weight: 500;
        font-size: 2.2vh;
        line-height: 1.1;
        z-index:1;

        @media screen and (min-width:768px) {
        font-size: 20px;
        bottom: -62%;

        }
    }
    
    .products-modal-two {
        &::before {
            content: "";
            position: absolute;
            width: 75%;
            height: 71%;
            background-size: contain;
            display: block;
            top: 8%;
            left: -10%;
            background-image: url("../images/products/desktop/icelatte@2x-1200.png");
            background-repeat: no-repeat;
            opacity: 0.7;
            transform: rotate(5deg);
            }
            &:hover::before {
                content: "";
                opacity: 1;
                transition: 500ms linear;
            }
        }
    
    .products-modal-three {
        &::before {
            content: "";
            position: absolute;
            width: 77%;
            height: 71%;
            background-size: contain;
            display: block;
            top: 23%;
            left: -10%;
            background-image: url("../images/products/desktop/milkshakes@2x-1200.png");
            background-repeat: no-repeat;
            opacity: 0.7;
            transform: rotate(5deg);
            }
            &:hover::before {
                content: "";
                opacity: 1;
                transition: 500ms linear;
            }
        }
    